* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: red;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
body {
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    color: #000;
}

/* contacts-socicons bar*/
.contacts-socicons {
    background: #ededed;
    padding: 10px 80px 12px 80px;
}
.contacts {
    float: left;
    padding: 0 59px;
}
.social-icons {
    float: right;
    display: inline-block;
    padding-right: 42px;
    padding-top: 8px;
}
.contacts > div {
    float: left;
}
.city-select {
    background-color: #212121;
    color: #fff;
    padding: 7px 10px 7px 14px;
    border-radius: 3px;
    margin-right: 38px;
}
.city-select i {
    margin-left: 13px;
}
.phone,
.adress {
    padding-top: 10px;
}
.phone span,
.adress span {
    color: #565655;
}
.phone {
    margin-right: 35px;
}
.adress span:last-child {
    margin-left: 10px;
}
.social-icons li {
    display: inline-block;
    font-size: 16px;
    padding-right: 19px;
}
.social-icons a {
    color: #2e2e2e;
}
.social-icons a:hover {
    color: red;
}

/* logo-services bar*/
.logo-services {
    padding: 32px 80px 25px 80px;
}
.logo {
    float: left;
    padding: 0 53px;
}
.services {
    float: right;
    padding: 15px 60px 0 0;
}
.services h6 {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}
.services li {
    display: inline-block;
    padding-bottom: 15px;
}
.mark,
.services-option {
    display: inline-block;
    vertical-align: top;
}
.mark {
    padding: 0 9px 0 15px;
}
.services li:nth-child(2) {
    border-left: solid;
    border-right: solid;
    border-top: none;
    border-bottom: none;
    border-width: 1px;
    border-color: #e6e6e6;
    padding-right: 10px;
}
.services li:nth-child(1) {
    padding-right: 40px;
}
.services-option p {
    line-height: 0.95;
    color: #7a7a7a;
}

/* navigation-search bar*/
.nav-search {
    padding: 23px 80px 23px 80px;
    background: rgba(0,0,0,0.85);
}
.navigation {
    float: left;
    padding-left: 60px;
}
.navigation li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 30px;
}
.navigation a {
    color: white;
    position: relative;
}
.icon-search {
    float: right;
    color: white;
    margin-right: 70px;
}

.navigation a:after {
    display: block;
    content: "";
    margin-top: 16px;
    height: 7px;
    width: 0%;
    left: 50%;
    position: absolute;
    background-color: #bd2631;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.navigation a:hover:after,
.navigation a:focus:after {
    width: 140%;
}
