* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: red;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
body {
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    color: #000;
}
.container {
    padding-left: 80px;
    padding-right: 80px;
}
/* contacts-socicons bar*/

.contacts-socicons {
    background: #ededed;
    padding-top: 10px;
    padding-bottom: 12px;
}
.contacts {
    float: left;
    padding-left: 59px;
}
.social-icons {
    float: right;
    display: inline-block;
    padding-right: 61px;
    padding-top: 8px;
}
.contacts > div {
    float: left;
}
.city-select {
    background-color: #212121;
    color: #fff;
    padding: 7px 10px 7px 14px;
    border-radius: 3px;
    margin-right: 38px;
}
.city-select i {
    margin-left: 13px;
}
.phone,
.adress {
    padding-top: 10px;
}
.phone span,
.adress span {
    color: #565655;
}
.phone {
    margin-right: 35px;
}
.adress span:last-child {
    margin-left: 10px;
}
.social-icons li {
    display: inline-block;
    font-size: 16px;
    padding-left: 19px;
}
.social-icons a {
    color: #2e2e2e;
}
.social-icons a:hover {
    color: red;
}

/* logo-services bar*/
.logo-services {
    padding-top: 32px;
    padding-bottom: 25px;
}
.logo {
    float: left;
    padding-left: 53px;
}
.services {
    float: right;
    padding: 15px 60px 0 0;
}
.services h6 {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}
.services li {
    display: inline-block;
    padding-bottom: 15px;
}
.mark,
.services-option {
    display: inline-block;
    vertical-align: top;
}
.mark {
    padding: 0 9px 0 15px;
}
.services li:nth-child(2) {
    border-left: solid;
    border-right: solid;
    border-top: none;
    border-bottom: none;
    border-width: 1px;
    border-color: #e6e6e6;
    padding-right: 10px;
}
.services li:nth-child(1) {
    padding-right: 40px;
}
.services-option p {
    line-height: 0.95;
    color: #7a7a7a;
}

/* navigation-search bar*/
.nav-search {
    background: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
}
.navigation {
    float: left;
    padding-left: 45px;
}
.navigation li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 23px 15px 16px 15px;
}
.navigation a {
    color: white;
    position: relative;
}
.menu {
    display: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    padding: 23px 15px 16px 15px;
    cursor: pointer;
    border-bottom: solid #bd2631 7px;
}
#menu_switch {
    display: none;
}
.icon-search {
    float: right;
    color: white;
    padding: 23px 70px 0 0;
/*    margin-right: 70px; */
    cursor: pointer;
}
.navigation a:after {
    display: block;
    content: "";
    margin-top: 16px;
    height: 7px;
    width: 0%;
    left: 50%;
    position: absolute;
    background-color: #bd2631;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.navigation a:hover:after,
.navigation a:focus:after {
    width: 150%;
}
.current {
     border-bottom: solid #bd2631 7px;
 }

/*slider*/
.slider {
    position: relative;
    color: #fff;
    background: #000;
}
.slider-item {
    background: url("../img/slide1.png") center right no-repeat;
    height: 640px;
    position: relative;
}
.slide-content {
    position: absolute;
    right: 0;
    left: 72px;
    top: 72px;
    bottom: 0;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    padding: 0 60px;
}

.slide-content h2 {
    color: #bd2631;
    font-size: 32px;
    font-weight: bold;
}

.slide-content h1 {
    font-size: 43px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 100%;
}

.slide-content p {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 4px;
}
.arrows {
    position: absolute;
    z-index: 99;
    font-size: 70px;
    top: 48%;
    cursor: pointer;
}
.arrow-left {
    left: 55px;
}
.arrow-right {
    right: 20px
}

/* request survey or quote */
.request_quote {
    background: #bd2631;
    padding-top: 32px;
    padding-bottom: 32px;
}
.request {
    float: left;
    padding-left: 60px;
    line-height: 1.2;
    color: white;
}
.request h1{
    font-size: 30px;
    font-weight: 400;
}

.request p {
    font-size: 24px;
    font-weight: 400;
}
.quote-button {
    float: right;
    font-weight: bold;
    background: #fff;
    padding: 15px 30px;
    border-radius: 3px;
    margin-top: 5px;
    margin-right: 55px;
}

/* INFO */
.info {
    display: flex;
    flex-wrap: wrap;
}
.text-info {
    width: 50%;
    background: #000;
    position: relative;
}
.photo-info {
    width: 25%;
}
.icon-info {
    width: 25%
}

.info img {
    height: 100%;
    width: 100%;
}
.text-above-photo {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 20% 10% 15% 15%;
}
.text-info h1{
    font-size: 30px;
    color: #bd2631;
    font-weight: normal;
    padding-bottom: 5%;
}
.text-info p {
    color: #fff;
}



/*RESPONSIVE */
@media screen and (max-width: 1170px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 1070px) {
    .contacts .city-select {
        float: none;
        display: table;
    }
    .request {
        float: none;
        display: block;
        padding-left: 100px;
    }
    .quote-button {
        float: none;
        display: table;
        margin: 20px auto 0 auto;
    }
}

@media screen and (max-width: 950px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .logo {
        padding-left: 0;
    }
    .logo, .services {
        float: none;
        display: table;
        margin: 0 auto;
    }
    .services {
        padding-right: 0;
    }
    .slide-content {
        padding: 0 40px 0 10px;
    }
    .arrow-left {
        left: 25px;
    }
    .request {
        padding-left: 50px;
    }
    .text-above-photo {
        padding-top: 15%;
    }
}

@media screen and (max-width: 850px) {
    .contacts .phone {
        float: none;
        display: table;
    }
    .navigation li {
        padding: 23px 10px 16px 10px;
    }
}

@media screen and (max-width: 750px) {
    .menu {
        display: block;
    }
    .navigation ul {
        display: none;
        width: 50%;
    }
    .navigation li {
        display: block;
        padding: 15px 0 5px 0;
    }
    .current {
        border-bottom: none/*solid #bd2631 7px*/;
    }
    .navigation a:after {
        margin-top: 0px;
    }
    #menu_switch:checked + ul{
        display: block;
    }
    .text-above-photo {
        padding: 10%;
    }
}

@media screen and (max-width: 650px) {
    .adress span:last-child {
        display: block;
    }
    .text-info {
        flex-basis: 100%;
        order: 1;
    }
    .photo-info {
        flex-basis: 50%;
        order: 2;
    }
    .icon-info {
        flex-basis: 50%;
        order: 3;
    }
    .text-above-photo {
        padding: 20% 15%;
    }
}

@media screen and (max-width: 520px) {
    .contacts {
        float: none;
        padding-left: 0;
        margin: 0 auto;
    }
    .contacts > div {
        float: none;
        margin: 0 auto;
        display: table;
    }
    .social-icons {
        display: table;
        float: none;
        padding-right: 0;
        margin: 0 auto;
    }
    .adress span:last-child {
        display: inline;
    }
    .services li:nth-child(1) {
        padding-right: 10px;
    }
    .mark {
        padding: 0 5px 0 10px;
    }
    .text-above-photo {
        padding: 15% 15%;
    }
}
@media screen and (max-width: 420px) {
    .services li {
        display: block;
    }
    .services li:nth-child(2) {
        border: none;
    }
    .text-above-photo {
        padding: 10% 15%;
    }
}